.diagramForm .radioButtonGroup > div {
  margin-bottom: 10px;
}

.diagramForm .radioButtonGroup .radioLabel {
  /* font-size: 1.2em; */
  margin-bottom: 2px;
}

.diagramForm .radioButtonGroup .radioList {
  max-height: 300px; /* adjust this to your desired height */
  overflow-y: auto;
  border: 1px solid #ccc;
}

.diagramForm .radioButtonGroup label span {
  font-weight: bold;
}

.diagramForm .radioButtonGroup p {
  margin-top: 5px;
  margin-left: 20px;
}

.diagramForm .selectField {
  /* font-size: 1.2em; */
  margin-bottom: 10px;
}

.diagramForm .selectField .selectDropdown {
  font-size: 1em;
  margin-left: 10px;
}

.diagramForm .checkboxField {
  margin: 20px 0;
  display: flex;
  align-items: center;
}

.diagramForm .checkboxField label {
  margin-left: 10px;
}

.diagramForm .textareaField {
  margin: 20px 0;
}

.diagramForm .textareaField label {
  display: block;
  margin-bottom: 10px;
}

.diagramForm .textareaField textarea {
  width: 100%;
  height: 150px;
  border: 1px solid #ccc;
}
